body {
    margin: 0 auto;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    background :#F5F5F5;
    &.theme-1 {
        background: #2A1B3D;
        color: #E98074;
    }
  
    &.theme-2 {
        background:  #D6CE15;
        color: #112D32;
    }
    &.theme-3 {
        background: #88BDBC;
        color:#112D32;
    }
    &.theme-4 {
        background: #0B0C10;
        color: #66FCF1;
    }
   
}

.comp-head {
    text-align: center;
    background-color: #DEB887;
    // border: 5px solid black;
    padding: 10px 0;
}

//Navbar
.navbar {
    padding: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #DEB887;
    // background-color: #A0522D;
    min-height: 90px;
    list-style: none;
    margin: 0;
    

    li {
        h1 {
            margin: 0;
            cursor: pointer;

            a {
                padding: 40px 0;
            }
        }

        display: inline-block;
        width: 33.33%;
        min-height: 116px;
        font-weight: 600;
        border: 5px solid transparent;

        &:hover {
            background-color:  #F5F5F5;
            border-top: 5px solid black;
            border-bottom: 5px solid ;
            font-weight: bold;
        }

        a {
            display: block;
            text-decoration: none;
            padding: 45px 0;
            color: black;
            cursor: pointer;
            justify-content: center;

            &:hover {
                background-color: rgb(204, 204, 221);
                // border-left: 2px solid #888888;
                border-right: 2px solid #888888;
            }
        }
    }
}


//Theme Changer

.themechanger{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding:0;
    margin:30px 0;
    li{
        
        .switch-theme{
            height:3rem;
            width:3rem;
            border:1px solid darkgray;
            box-shadow: 0 0 10px #888888;
            pointer-events: none;
         border-radius: 50%;
         display: inline-block;
        background: linear-gradient(45deg, #F5F5F5 50%, #DEB887  50%);
           vertical-align: middle;
        }

        .theme-1{
            background: linear-gradient(45deg, #2A1B3D 50%, #D83F87 50%);
        }

        .theme-2{
            background: linear-gradient(45deg,#D6CE15 50%, #53900F 50%);
        }

        .theme-3{
            background: linear-gradient(45deg, #88BDBC 50%, #112D32 50%);
            
        }

        .theme-4{
            background: linear-gradient(45deg, #0B0C10 50%, #66FCF1 50%);
            
        }

        
    }
}

//Art grid
.art-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    .art-card {
        padding: 10px;
        margin: 0 auto;

        img {
            display: block;
            height: 400px;
            max-width: 100%;
            margin: auto;
        }

        p {
            display: block;
            font-family: 'Satisfy', cursive;
            font-size: 20px;
            // font-weight: bold;
        }

    }
}

//Carousel styles Thoughts
.slide {
    display: inline-block;
}

.slider-styles {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        outline: none;
        display: inline-block;
        text-align: center;

        p {
            max-width: 100%;
            height: 200px;
            font-family: 'Satisfy', cursive;
            // font-weight: bold;
            font-size: 30px;
            padding: 20px;
        }

    }
}

//music-card

.music-card {
    padding: 0 100px;

    ul {
        padding: 20px 80px;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #CD853F;

        &:hover {
            box-shadow: 0 0 20px #888888;
            // box-shadow: 5px 10px 18px #FF750F;
        }

        li {
            font: italic 22px/2.5 'Satisfy';

            img {
                vertical-align: middle;
                height:50px;
                width:50px;
            }

            a {
                text-decoration: none;
                color: #ffffff;
                background: black;
                border-radius: 50%;
                padding: 20px;

                &:hover {
                    color: #DEB887;
                }
            }
        }
    }

}

//Footer Styles
.footer {
    background: #DEB887;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        display: inline-flex;
    }

    .footer__nav {
        display: flex;
        margin: 0 30px;
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        li {
            list-style: none;
            font-weight: bold;

            a {
                text-decoration: none;
                color: black;
                text-transform: lowercase;
            }
        }
    }
}