body {
  margin: 0 auto;
  font-family: 'Cinzel', serif;
  font-size: 18px;
  background: #F5F5F5;
}

body.theme-1 {
  background: #2A1B3D;
  color: #E98074;
}

body.theme-2 {
  background: #D6CE15;
  color: #112D32;
}

body.theme-3 {
  background: #88BDBC;
  color: #112D32;
}

body.theme-4 {
  background: #0B0C10;
  color: #66FCF1;
}

.comp-head {
  text-align: center;
  background-color: #DEB887;
  padding: 10px 0;
}

.navbar {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #DEB887;
  min-height: 90px;
  list-style: none;
  margin: 0;
}

.navbar li {
  display: inline-block;
  width: 33.33%;
  min-height: 116px;
  font-weight: 600;
  border: 5px solid transparent;
}

.navbar li h1 {
  margin: 0;
  cursor: pointer;
}

.navbar li h1 a {
  padding: 40px 0;
}

.navbar li:hover {
  background-color: #F5F5F5;
  border-top: 5px solid black;
  border-bottom: 5px solid;
  font-weight: bold;
}

.navbar li a {
  display: block;
  text-decoration: none;
  padding: 45px 0;
  color: black;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar li a:hover {
  background-color: #ccccdd;
  border-right: 2px solid #888888;
}

.themechanger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.themechanger li .switch-theme {
  height: 3rem;
  width: 3rem;
  border: 1px solid darkgray;
  -webkit-box-shadow: 0 0 10px #888888;
  box-shadow: 0 0 10px #888888;
  pointer-events: none;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(45deg, #F5F5F5 50%, #DEB887 50%);
  vertical-align: middle;
}

.themechanger li .theme-1 {
  background: linear-gradient(45deg, #2A1B3D 50%, #D83F87 50%);
}

.themechanger li .theme-2 {
  background: linear-gradient(45deg, #D6CE15 50%, #53900F 50%);
}

.themechanger li .theme-3 {
  background: linear-gradient(45deg, #88BDBC 50%, #112D32 50%);
}

.themechanger li .theme-4 {
  background: linear-gradient(45deg, #0B0C10 50%, #66FCF1 50%);
}

.art-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.art-section .art-card {
  padding: 10px;
  margin: 0 auto;
}

.art-section .art-card img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
}

.art-section .art-card p {
  display: block;
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}

.slide {
  display: inline-block;
}

.slider-styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-styles div {
  outline: none;
  display: inline-block;
  text-align: center;
}

.slider-styles div p {
  max-width: 100%;
  height: 200px;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  padding: 20px;
}

.music-card {
  padding: 0 100px;
}

.music-card ul {
  padding: 20px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 2px solid #CD853F;
}

.music-card ul:hover {
  -webkit-box-shadow: 0 0 20px #888888;
  box-shadow: 0 0 20px #888888;
}

.music-card ul li {
  font: italic 22px/2.5 'Satisfy';
}

.music-card ul li img {
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.music-card ul li a {
  text-decoration: none;
  color: #ffffff;
  background: black;
  border-radius: 50%;
  padding: 20px;
}

.music-card ul li a:hover {
  color: #DEB887;
}

.footer {
  background: #DEB887;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer h2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px;
  padding: 0;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .footer__nav li {
  list-style: none;
  font-weight: bold;
}

.footer .footer__nav li a {
  text-decoration: none;
  color: black;
  text-transform: lowercase;
}

/*# sourceMappingURL=styles.css.map */